<% var img_path='/assets/images/'; %>

<footer class="l-footer">
  <small class="c-footer__copyright">&copy;Shoya Baba.All Rights Reserved 2020.</small>
  <div class="l-footer__container">
    <ul class="c-footer__contact">
      <% var footer_hover_text=['Twitter', 'GitHub', 'Qiita']; %>
      <% var footer_link=["https://twitter.com/babi_0105", "https://github.com/baby-0105", "https://qiita.com/baby-0105"] %>
      <% var footer_contact=["fab fa-twitter", "fab fa-github-alt"]; %> <!-- "far fa-envelope": メールアイコン -->
      <% for (var i=0; i < footer_contact.length; i++) { %>
        <li class="c-footer__contactList">
          <a class="c-footer__contactLink" href="<%= footer_link[i] %>" target="_blank">
            <p class="c-footer__contact__hoverText"><%= footer_hover_text[i] %></p>
            <i class="<%= footer_contact[i] %>"></i>
          </a>
        </li>
      <% } %>

      <li class="c-footer__contactList">
        <a class="c-footer__contactLink" href="<%= footer_link[2] %>" target="_blank">
          <p class="c-footer__contact__hoverIcon"><%= footer_hover_text[2] %></p>
        </a>
      </li>
    </ul>
  </div>
</footer>

</div><!-- l-wrap -->
</body>
</html>