<% var img_path='/assets/images/'; %>

<footer class="l-footer">
  <small class="c-footer__copyright">&copy;Shoya Baba.All Rights Reserved 2020.</small>
  <div class="l-footer__container">
    <ul class="c-footer__contact">
      <% var footer_hover_text=['Twitter', 'GitHub', 'Qiita']; %>
      <% var footer_link=["https://twitter.com/babi_0105", "https://github.com/baby-0105", "https://qiita.com/baby-0105"] %>
      <% var footer_contact=["fab fa-twitter", "fab fa-github-alt"]; %> <!-- "far fa-envelope": メールアイコン -->
      <% for (var i=0; i < footer_contact.length; i++) { %>
        <li class="c-footer__contactList">
          <a class="c-footer__contactLink" href="<%= footer_link[i] %>" target="_blank">
            <p class="c-footer__contact__hoverText"><%= footer_hover_text[i] %></p>
            <i class="<%= footer_contact[i] %>"></i>
          </a>
        </li>
      <% } %>

      <li class="c-footer__contactList">
        <a class="c-footer__contactLink" href="<%= footer_link[2] %>" target="_blank">
          <p class="c-footer__contact__hoverIcon"><%= footer_hover_text[2] %></p>
        </a>
      </li>
    </ul>
  </div>
</footer>

</div><!-- l-wrap -->

<script>
  {
    const $bodyAndHtml = $('body, html'),
          $body = $('body');

    let scrollPosi;
        lowerTitle=['intro', 'skills', 'production', 'canDo', 'contact'],
        upperTitle=['Intro', 'Skills', 'Production', 'CanDo', 'Contact'];

    // ページの一番上までスクロールさせます。
    $("#to_top").on('click', function() {
      $bodyAndHtml.animate({scrollTop: 0}, 300, 'linear');
    });

    // SP用：ハンバーガーのトグルアクション
    $(document).on('click', function(e) {
      const $headerNav = $('#headerNav')

      if($(e.target).is('#hamburger')) {
        $headerNav.toggleClass('c-header__is-active');
      } else if($(e.target).is('*')) {
        $headerNav.removeClass('c-header__is-active');
      }
    });

    // headerボタンクリック：指定の位置までスクロール（クロージャー使用）
    for (let i=0; i < upperTitle.length; i++) {
      $(`#header${upperTitle[i]}`).on('click', (function() {
        let x = i;

        return function() {
          let headerHeight = $('#header').innerHeight(); //innerHeight()は、paddingも含めた高さ

          $bodyAndHtml.animate({scrollTop: $(`#${lowerTitle[x]}`).offset().top - headerHeight});
        }
      })());
    }

    // スクロール：テキスト出現
    $(window).scroll(function() {
      let windowHeight = $(window).height(),
          skilldDetailPosi = $('#skillsDetail').offset().top;

      scrollPosi = $(window).scrollTop();

      (function appearTitleText() {
        for (let i=0; i < lowerTitle.length; i++) {
          $(`#${lowerTitle[i]}TitleWord`).each(function() {
            let textPosi = $(this).offset().top;

            if (scrollPosi > textPosi - windowHeight + 100){
              $(this).addClass('slideInToDown'); // 速度：addClass、removeClass > .css()
            }
          });
        }
      })();

      if (scrollPosi > skilldDetailPosi - windowHeight + 300){
        // 言語画像のslideUp
        (function appearLang() {
          for (let i=0; i < 6; i++) {
            $(`#frontItemUnit${i+1}`).addClass('slideInToUp');
            $(`#backItemUnit${i+1}`).addClass('slideInToUp');
            $(`#toolsItemUnit${i+1}`).addClass('slideInToUp');
          }
        })();

        // skills:棒グラフ
        (function extendGraph() {
          for (let i=0; i < 7; i++) {
            $(`#frontExtendGraph${i}`).each(function() {
              extend = $(this).data('extend');
              $(this).css('width', extend * 20 + '%');
            });

            $(`#backExtendGraph${i}`).each(function() {
              extend = $(this).data('extend');
              $(this).css('width', extend * 20 + '%');
            });

            $(`#toolsExtendGraph${i}`).each(function() {
              extend = $(this).data('extend');
              $(this).css('width', extend * 20 + '%');
            });
          }
        })();
      }
    });

    // production画像クリック→詳細表示
    for (let i=0; i < lowerTitle.length; i++) {
      $(`#productionItemList${i+1}`).on('click', function() {
        $(`#productionDetail${i+1}`).addClass('show');
      });

      $(`#productionCrossIcon${i+1}`).on('click', function() {
        $(`#productionDetail${i+1}`).removeClass('show');
      });
    }
  }
</script>
</body>
</html>