<% var title = "shoya_baba_portfolio_TOP"; var description = "トップのshoya_baba_portfolio"; %> <% include
src/ejs/template/_head %>
<% include src/ejs/template/_header %>
<% var img_path='/assets/images/'; %>

<main class="l-top">
  <div class="l-top-siteImage">
    <div class="p-top-siteImage__textArea">
      <h2 class="p-top-siteImage__title">
        <span class="p-top-siteImage__titleWord">PortFolio</span>
      </h2>
      <h2 class="p-top-siteImage__name">
        <% myName=['S', 'h', 'o', 'y', 'a', 'B', 'a', 'b', 'a'] %>
        <% for (var i=0; i < myName.length; i++) { %>
          <span class="p-top-siteImage__nameWord"><%= myName[i] %></span>
        <% } %>
      </h2>
    </div>
  </div>

  <div class="l-top-intro" id="intro">
    <div class="l-top-intro__container">
      <h1 class="p-top-intro__title" id="appear_intro">
        <span class="p-top-intro__titleWord" id="introTitleWord">About</span>
      </h1>
      <div class="p-top-intro__info">
        <img class="p-top-intro__infoImg" src="<%= img_path %>face_icon.jpeg" alt="人物のアイコン">
        <div class="p-top-intro__infoDetail">
          <h3 class="p-top-intro__infoName">馬場　翔矢（Shoya Baba）</h3>

          <% var intro_period=['1997/01/05', '2019/3', '2019/4 ~ 2019/6', '2019/6~', '2019/9', '2020/4', '2020/4~9', 'now', 'feature']; %>
          <% var intro_text=
            ['生まれました。', '近畿大学 農学部卒業', '機械部品製造業、従事', 'ゲストハウススタッフ、youtube投稿、ライティング、ヒッチハイクを経て、自分の就きたい仕事を模索',
             'プログラミングを知って、webエンジニアへ向けての学習開始', '東京でSES事業を行っているベンチャー企業に入社', 'コロナウイルスの関係で一時、同社で大阪のコールセンター業務に従事',
             '1年の時を経て、現在自社で初めてのLP作成の稼働がスタート！！', '今後は、現在学習中のVue.jsを用いたアジャイル開発に取り組みたいです。'];
           %>

          <% for (var i=0; i < intro_text.length; i++) { %>
            <div class="p-top-intro__infoTextBlock">
              <p class="p-top-intro__infoText__peroid"><%= intro_period[i] %></p>
              <p class="p-top-intro__infoText__main"><%= intro_text[i] %></p>
            </div>
            <span class="p-top-intro__infoText__arrow">⇩</span>
          <% } %>
        </div>
      </div>
    </div>
  </div>

  <div class="l-top-skills" id="skills">
    <div class="l-top-skills__container">
      <h1 class="p-top-skills__title" id="appear_skills">
        <span class="p-top-skills__titleWord" id="skillsTitleWord">Skills</span>
      </h1>
      <p class="p-top-skills__text">
        今、習得中の言語も含め、扱うことの出来るスキルの一覧です。現在は、JavaScriptを使用したフロントエンドでの開発を主としています。
        今後は、Vue.jsの習得やバックエンドの技術を使用した開発にも取り組んでいきたいと考えております。
      </p>
      <ul class="p-top-skills__detail" id="skillsDetail">
        <li class="p-top-skills__detailList">
          <h3 class="p-top-skills__detailList__title">Front end</h3>
            <% var frontSkills=['HTML・CSS', 'JavaScript', 'jQuery', 'Sass', 'Bootstrap', 'Vue.js']; %>
            <% var frontExtendNum=['3', '3', '3', '3', '2', '1']; %>
            <% for (var i=0; i < frontSkills.length; i++) { %>
              <dl class="p-top-skills__detailList__item" id="frontDetailList">
                <dt class="p-top-skills__detailList__itemUnit" id="frontItemUnit<%= i+1 %>">
                  <img class="p-top-skills__detailList__itemImg" src="<%= img_path %>skills/<%= frontSkills[i] %>.png" alt="言語の画像">
                  <p class="p-top-skills__detailList__itemLang"><%= frontSkills[i] %></p>
                </dt>
                <dd class="p-top-skills__detailList__itemGraph">
                  <div class="p-top-skills__detailList__itemGraph__extend--front" id="frontExtendGraph<%= i+1 %>" data-extend="<%= frontExtendNum[i] %>"></div>
                </dd>
              </dl>
            <% } %>
        </li>
        <li class="p-top-skills__detailList">
          <h3 class="p-top-skills__detailList__title">Back end</h3>
          <% var backSkills=['Ruby', 'Ruby on Rails', 'MySQL', 'PostgreSQL']; %>
          <% var backExtendNum=['2', '2', '2', '2']; %>
          <% for (var i=0; i < backSkills.length; i++) { %>
            <dl class="p-top-skills__detailList__item" id="backDetailList">
              <dt class="p-top-skills__detailList__itemUnit" id="backItemUnit<%= i+1 %>">
                <img class="p-top-skills__detailList__itemImg" src="<%= img_path %>skills/<%= backSkills[i] %>.png" alt="言語の画像">
                <p class="p-top-skills__detailList__itemLang"><%= backSkills[i] %></p>
              </dt>
              <dd class="p-top-skills__detailList__itemGraph">
                <div class="p-top-skills__detailList__itemGraph__extend--back" id="backExtendGraph<%= i+1 %>" data-extend="<%= backExtendNum[i] %>"></div>
              </dd>
            </dl>
          <% } %>
        </li>
        <li class="p-top-skills__detailList">
          <h3 class="p-top-skills__detailList__title">tools</h3>
          <% var tools=['webpack', 'npm・yarn', 'Git・GitHub', 'AWS（Cloud9）', 'Heroku', 'Linuxコマンド']; %>
          <% var toolsExtendNum=['2', '2', '3', '2', '2', '1']; %>
          <% for (var i=0; i < tools.length; i++) { %>
            <dl class="p-top-skills__detailList__item" id="toolsDetailList">
              <dt class="p-top-skills__detailList__itemUnit" id="toolsItemUnit<%= i+1 %>">
                <img class="p-top-skills__detailList__itemImg" src="<%= img_path %>skills/<%= tools[i] %>.png" alt="言語の画像">
                <p class="p-top-skills__detailList__itemLang"><%= tools[i] %></p>
              </dt>
              <dd class="p-top-skills__detailList__itemGraph">
                <div class="p-top-skills__detailList__itemGraph__extend--tools" id="toolsExtendGraph<%= i+1 %>" data-extend="<%= toolsExtendNum[i] %>"></div>
              </dd>
            </dl>
          <% } %>
        </li>
      </ul>
      <div class="p-top-skills__explain">
        <h3 class="p-top-skills__explain__title">ースキルレベルー</h3>
        <p class="p-top-skills__explain__text">
          1.使ってみた事がある程度<br>
          2.それを使用し、プロダクトを作った事がある程度<br>
          3.実務で使用した経験がある程度<br>
          4.実務で1年程度使用、もしくは、人並みに使いこなせる程度<br>
          5.何なりと、お任せください！
        </p>
      </div>
    </div>
  </div>

  <div class="l-top-production" id="production">
    <div class="l-top-production__container">
      <h1 class="p-top-production__title" id="appear_production">
        <span class="p-top-production__titleWord" id="productionTitleWord">Production</span>
      </h1>
      <p class="p-top-production__text">
        これまでに制作した、模写・LPなどの制作物の一覧です。<br>
        「使用言語・制作期間・苦労した事・こだわった事」など詳細に記載しております。<br>
        ソースコードについては、
      <a class="p-top-production__text__link" href="https://github.com/baby-0105" target="_blank">「GitHub」</a>
        から確認できる様になっております。
      </p>
      <ul class="p-top-production__item">
        <% var production=['ukulele_match', 'numeron', 'portfolio', 'sample-birthday']; %>
        <% var production_title=['ウクレレプレイヤーのマッチングアプリ', 'JSで作るNumerOn', 'ポートフォリオサイト', 'webレター（sample）']; %>
        <% for (var i=0; i < production.length; i++) { %>
          <li class="p-top-production__itemList">
            <img class="p-top-production__itemList__img"  id="productionItemList<%= i+1 %>" src="<%= img_path %><%= production[i] %>.png" alt="作品の画像">
            <p class="p-top-production__itemList__text"><%= production_title[i] %></p>
          </li>
        <% } %>
      </ul>
    </div>
  </div>

  <ul class="l-top-production__detail">
    <% var production_title=['ウクレレプレイヤーのマッチングアプリ', 'JSで作るNumerOn', 'ポートフォリオサイト', 'webレター（sample）']; %>
    <% var detail_info_text=[
      ['HTML/CSS/Ruby', 'HTML/CSS/JavaScript', 'HTML/CSS/JavaScript', 'HTML/CSS/JavaScript'],
      ['Bootstrap/Rails', 'なし', 'Sass/jQuery/webpack/npm', 'Sass/jQuery/webpack/npm'],
      ['1ヶ月（2020/3〜2020/4）', '2週間（2020/10）', '1ヶ月（2020/10）', '1ヶ月（2020/6〜2020/7）'],
      ['ukulele-match-0105.herokuapp.com/', 'baby-0105.github.io/JS_numeron/html/home.html', 'portfolio.shoyababa.vercel.app/', 'sample-birthday.shoyababa.vercel.app'],
      ['original_app-ukulele-match-', 'JS_numeron', 'shoya_baba_portfolio', 'sample-birthday']
    ];%>
    <% var detail_expText=[
      'Ruby on Railsを使用したマッチングサービスです。新規登録/ログイン/フォロー/投稿/ダイレクトメッセージなどの機能を付けました。作った目的は、ウクレレプレイヤー同士の交流を深めてもらうためです。私自身、ウクレレを弾いていましたが（今はしていません）独学での演奏は挫折しやすく、また、プレイヤー数も少ないため仲間を探すことは大変です。そこで、模擬サイトとして作成しました。',
      '数字当てゲーム「NumerOn」を作成しました。純粋なJavaScriptとHTML/CSSのみで、ライブラリやフレームワークは使用していません。目的は、jQueryなどのライブラリに頼らない純粋なJavaScriptに慣れるためです。（JavaScriptを使うことが目的でしたのでUIはかなりチープなものになっています）。なぜ、このゲームを作成しようと思ったか？ですが、、、高校の時に毎日友達としていた思い出のゲームだからです（笑）。作ってみたかったものが実現しました。',
      '私のポートフォリオサイトです。シンプルかつ、一目で分かるようなUIにする事を意識しました。Skillsの棒グラフの作成にはUXにもこだわり工夫いたしました。Sass/jQueryの他、npm/webpackなどのツールも使用しています。npmを使用している事もあってnowを使って、Vercelへデプロイしました。今後は、現在勉強しているVue.jsも当サイトへ取り入れてコードの改善を行っていきたいと思います。',
      '個人的に作ったwebレターです。実際には、写真や手紙の内容も添えて作ったのですが、こちらはsampleになります。仕様自体は本物とほぼ同等のものです。シンプルで分かりやすいと言うよりも、CSSやjQueryなどでアニメーションを複数使用する事で凝った仕様にしています。'
    ]; %>
    <% for (var i=0; i < production_title.length; i++) { %>
      <li class="p-top-production__detailList" id="productionDetail<%= i+1 %>">
        <span class="p-top-production__detailList__crossIcon" id="productionCrossIcon<%= i+1 %>"><i class="fas fa-times crossIcon"></i></span>
        <h2 class="p-top-production__detailList__title"><%= production_title[i] %></h2>
        <div class="p-top-production__detailList__exp">
          <div class="p-top-production__detailList__expHeading">
            <img class="p-top-production__detailList__expImg" src="<%= img_path %><%= production[i] %>.png" alt="作品の画像">
            <dl class="p-top-production__detailList__info">
              <dt class="p-top-production__detailList__infoTitle">●＜使用言語＞</dt>
              <dd class="p-top-production__detailList__infoText"><%= detail_info_text[0][i] %></dd>
              <dt class="p-top-production__detailList__infoTitle">●＜フレームワーク/ライブラリ/その他ツール＞</dt>
              <dd class="p-top-production__detailList__infoText"><%= detail_info_text[1][i] %></dd>
              <dt class="p-top-production__detailList__infoTitle">●＜作成期間＞</dt>
              <dd class="p-top-production__detailList__infoText"><%= detail_info_text[2][i] %></dd>
            </dl>
          </div>
          <div class="p-top-production__detailList__expSentence">
            <p class="p-top-production__detailList__expText"><%= detail_expText[i] %></p>
            <dl class="p-top-production__detailList__Url">
              <dt class="p-top-production__detailList__urlTitle">●＜プロダクトURL＞</dt>
              <dd class="p-top-production__detailList__urlText">
                <a class="p-top-production__detailList__urlLink" href="https://<%= detail_info_text[3][i] %>" target='_blank'>https://<%= detail_info_text[3][i] %></a>
              </dd>
              <dt class="p-top-production__detailList__urlTitle">●＜GitHub-ソースコードURL＞</dt>
              <dd class="p-top-production__detailList__urlText">
                <a class="p-top-production__detailList__urlLink" href="https://github.com/baby-0105/<%= detail_info_text[4][i] %>" target='_blank'>https://github.com/baby-0105/<%= detail_info_text[4][i] %></a>
              </dd>
            </dl>
          </div>
        </div>
      </li>
    <% } %>
  </ul>

  <div class="l-top-canDo"  id="canDo">
    <div class="l-top-canDo__container">
      <h1 class="p-top-canDo__title" id="appear_canDo">
        <span class="p-top-canDo__titleWord" id="canDoTitleWord">Can do.</span>
      </h1>
      <p class="p-top-canDo__text">現在、お受けする事のできる案件・仕事内容についてご紹介させていただきます。</p>
      <ul class="p-top-canDo__works">
        <% var works=['1', '2', '3']; %>
        <% var work_title=['Webページ・LP制作', 'レスポンシブ対応', 'WordPress案件']; %>
        <% var work_text=[
          'LP作成・コーディングなどのWebサイトの制作をお受けします。',
          'スマホ・タブレット・パソコン、などマルチデバイスにも対応いたします。どのデバイスであっても見やすい表示へと切り替えます。',
          'WordPressのテーマを使用したWebサイト・Webページの作成を行います。'
        ]; %>
        <% for (var i=0; i < works.length; i++) { %>
          <li class="p-top-canDo__work">
            <img class="p-top-canDo__workIcon" src="<%= img_path %>cando_img<%= works[i] %>.png" alt="案件イメージアイコン">
            <h3 class="p-top-canDo__workTitle"><%= work_title[i] %></h3>
            <p class="p-top-canDo__workText"><%= work_text[i] %></p>
          </li>
        <% } %>
      </ul>
    </div>
  </div>

  <div class="l-top-contact"  id="contact">
    <div class="l-top-contact__container">
      <h1 class="p-top-contact__title" id="appear_contact">
        <span class="p-top-contact__titleWord" id="contactTitleWord">Contact</span>
      </h1>
      <!-- <p class="p-top-contact__text">お問い合わせはこちら（もしくは、フッターのTwitterアイコンからダイレクトメッセージお願いします。）</p> -->
      <p class="p-top-contact__text">※現在こちらの機能は使えません。フッターのTwitterアイコンからダイレクトメッセージお願いします。</p>
      <div class="p-top-contact__block">
        <input class="p-top-contact__form" type="text" placeholder="姓">
        <input class="p-top-contact__form" type="text" placeholder="名">
        <input class="p-top-contact__form" type="text" placeholder="メールアドレス">
        <textarea class="p-top-contact__inquiry" name="comment" placeholder="お問い合わせ内容を記載ください。"></textarea>
        <a class="p-top-contact__btn" href="#">送信</a>
      </div>
    </div>
  </div>
</main>

<% include src/ejs/template/_footer %>