<% var title = "shoya_baba_portfolio_TOP"; var description = "トップのshoya_baba_portfolio"; %> <% include
src/ejs/template/_head %>
<% include src/ejs/template/_header %>
<% var img_path='/assets/images/'; %>

<main class="l-top">
  <div class="l-top-siteImage">
    <div class="p-top-siteImage__textArea">
      <h2 class="p-top-siteImage__title">
        <span class="p-top-siteImage__titleWord">PortFolio</span>
      </h2>
      <h2 class="p-top-siteImage__name">
        <% myName=['S', 'h', 'o', 'y', 'a', 'B', 'a', 'b', 'a'] %>
        <% for (var i=0; i < myName.length; i++) { %>
          <span class="p-top-siteImage__nameWord"><%= myName[i] %></span>
        <% } %>
      </h2>
    </div>
  </div>

  <div class="l-top-intro">
    <div class="l-top-intro__container">
      <h1 class="p-top-intro__title" id="appear_intro">
        <span class="p-top-intro__titleWord">About</span>
      </h1>
      <div class="p-top-intro__info">
        <img class="p-top-intro__infoImg" src="<%= img_path %>face_icon.jpeg" alt="人物のアイコン">
        <div class="p-top-intro__infoDetail">
          <h3 class="p-top-intro__infoName">馬場　翔矢（Shoya Baba）</h3>

          <% var intro_period=['1997/01/05', '2019/3', '2019/4 ~ 2019/6', '2019/6~', '2019/9', '2020/4', '2020/4~9', 'now']; %>
          <% var intro_text=
            ['生まれました。', '近畿大学 農学部卒業', '機械部品製造業、従事', 'ゲストハウススタッフ、youtube投稿、ライティング、ヒッチハイクを経て、自分の就きたい仕事を模索',
             'プログラミングを知って、webエンジニアへ向けての学習開始', '東京でSES事業を行っているベンチャー企業に入社', 'コロナウイルスの関係で一時、同社で大阪のコールセンター業務に従事',
             'フロントエンドエンジニアを目指し日々、学習中'];
           %>

          <% for (var i=0; i < intro_text.length; i++) { %>
            <div class="p-top-intro__infoTextBlock">
              <p class="p-top-intro__infoText__peroid"><%= intro_period[i] %></p>
              <p class="p-top-intro__infoText__main"><%= intro_text[i] %></p>
            </div>
            <span class="p-top-intro__infoText__arrow">⇩</span>
          <% } %>
        </div>
      </div>
    </div>
  </div>

  <div class="l-top-skills">
    <div class="l-top-skills__container">
      <h1 class="p-top-skills__title" id="appear_skills">
        <span class="p-top-skills__titleWord">Skills</span>
      </h1>
      <p class="p-top-skills__text">扱うことの出来るスキルの一覧です。</p>
      <ul class="p-top-skills__detail">
        <% var skills=["HTML", "CSS", "Ruby", "JavaScript", "tool"]; %>
        <% for (var i=0; i < skills.length; i++) { %>
          <li class="p-top-skills__detail__list">
            <img class="p-top-skills__detail__iconImg" src="<%= img_path %>skills/<%= skills[i] %>.png" alt="<%= skills[i] %>のアイコン">
            <p class="p-top-skills__detail__text"><%= skills[i] %></p>
            <% if(i < 1) { %>
            <% } else if(i < 2) { %>
              <div class="p-top-skills__hover">
                <img src="<%= img_path %>skills/sass.png" class="p-top-skills__hoverImg">
                <img src="<%= img_path %>skills/Bootstrap.png" class="p-top-skills__hoverImg">
              </div>
            <% } else if(i < 3) { %>
              <div class="p-top-skills__hover">
                <img src="<%= img_path %>skills/Rails.png" class="p-top-skills__hoverImg">
              </div>
            <% } else if(i < 4) { %>
              <div class="p-top-skills__hover">
                <img src="<%= img_path %>skills/jQuery.png" class="p-top-skills__hoverImg">
              </div>
            <% } else { %>
              <div class="p-top-skills__hover">
                <!--<img src="<%= img_path %>skills/npm.png" class="p-top-skills__hoverImg">-->
                <img src="<%= img_path %>skills/webpack.png" class="p-top-skills__hoverImg">
              </div>
            <% } %>
          </li>
        <% } %>
      </ul>
      <p class="p-top-skills__expla"></p>
    </div>
  </div>

  <div class="l-top-production">
    <div class="l-top-production__container">
      <h1 class="p-top-production__title" id="appear_production">
        <span class="p-top-production__titleWord">Production</span>
      </h1>
      <p class="p-top-production__text">
        これまでに制作した、模写・LP・などの制作物の一覧です。<br>
        ソースコードについては、
      <a class="p-top-production__text__link" href="https://github.com/baby-0105" target="_blank">「GitHub」</a>
        から確認できる様になっております。
      </p>
      <ul class="p-top-production__item">
        <% var production_url=
          ["ukulele-match-0105.herokuapp.com/", "sample-birthday.shoyababa.vercel.app",
          "baby-0105.github.io/JS_numeron/html/home.html",
          "portfolio.shoyababa.vercel.app/"]
        ; %>
        <% var production=["ukulele_match", "sample-birthday", "numeron", "portfolio"]; %>
        <% var production_title=["マッチングアプリ", "webレター", "JSで作るNumerOn", "ポートフォリオサイト"]; %>
        <% var production_language=
          ["HTML、Bootstrap、Ruby、Rails",
           "HTML、Sass、jQuery、その他（webpack、yarn）",
           "HTML、CSS、JavaScript",
           "HTML、Sass、jQuery、その他（webpack、yarn）"];
        %>
        <% var production_period=["1ヶ月", "1ヶ月", "2週間", "1ヶ月"]; %>
        <% for (var i=0; i < production.length; i++) { %>
          <li class="p-top-production__itemList">
            <a href="https://<%= production_url[i] %>" target="_blank">
              <img src="<%= img_path %><%= production[i] %>.png" alt="作品の画像">
              <div class="p-top-production__hover">
                <div class="p-top-production__hover__container">
                  <h3 class="p-top-production__hoverTitle">【<%= production_title[i] %>】</h3>
                  <p>＜使用言語＞：<%= production_language[i] %></p>
                  <p>＜作成期間＞：<%= production_period[i] %></p>
                </div>
              </div>
            </a>
          </li>
        <% } %>
      </ul>
    </div>
  </div>

  <div class="l-top-canDo">
    <div class="l-top-canDo__container">
      <h1 class="p-top-canDo__title" id="appear_canDo">
        <span class="p-top-canDo__titleWord">Can do.</span>
      </h1>
      <p class="p-top-canDo__text">現在、お受けする事のできる案件についてご紹介させていただきます。</p>
      <ul class="p-top-canDo__works">
        <% var works=["1", "2", "3"]; %>
        <% var work_title=["Webページ・LP制作", "レスポンシブ対応", "3"]; %>
        <% var work_text=
          ["LP作成・コーディングなどのWebサイト制作をお受けします。",
          "スマホ・タブレット・パソコン、などマルチデバイスにも対応いたします。どのデバイスであっても見やすい表示へと切り替えさせます。",
          ""];
        %>
        <% for (var i=0; i < works.length; i++) { %>
          <li class="p-top-canDo__work">
            <img class="p-top-canDo__workIcon" src="<%= img_path %>skills/<%= skills[i] %>.png" alt="案件イメージアイコン">
            <h3 class="p-top-canDo__workTitle"><%= work_title[i] %></h3>
            <p class="p-top-canDo__workText"><%= work_text[i] %></p>
          </li>
        <% } %>
      </ul>
    </div>
  </div>

  <div class="l-top-contact">
    <div class="l-top-contact__container">
      <h1 class="p-top-contact__title" id="appear_contact">
        <span class="p-top-contact__titleWord">Contact</span>
      </h1>
      <p class="p-top-contact__text">お問い合わせはこちら（もしくは、フッターのTwitterアイコンからダイレクトメッセージお願いします。）</p>
      <div class="p-top-contact__block">
        <input class="p-top-contact__form" type="text" placeholder="姓">
        <input class="p-top-contact__form" type="text" placeholder="名">
        <input class="p-top-contact__form" type="text" placeholder="メールアドレス">
        <textarea class="p-top-contact__inquiry" name="comment" placeholder="お問い合わせ内容を記載ください。"></textarea>
        <a class="p-top-contact__btn" href="#">送信</a>
      </div>
    </div>
  </div>
</main>

<% include src/ejs/template/_footer %>

<script>
  $(function() {
    $("#to_top").on('click', function() { // ページの一番上までスクロールさせます。
      $('body, html').animate({scrollTop: 0}, 300, 'linear');
    });

    // SP用：ハンバーガーのトグルアクション
    $(document).on('click', function(e) {
      if($(e.target).is('#hamburger')) {
        $('.c-header__nav').toggleClass('c-header__is-active');
      } else if($(e.target).is('*')) {
        $('.c-header__nav').removeClass('c-header__is-active');
      }
    });

    // ボタンを押したら、指定の位置までスクロール
    let headerHeight = $('.l-header').innerHeight(); //innerHeight()は、paddingも含めた高さ

    $(`.c-header__link--intro`).on('click', function() {
      $("html, body").animate({scrollTop: $(`.l-top-intro`).offset().top - headerHeight});
    });

    $(`.c-header__link--skills`).on('click', function() {
      $("html, body").animate({scrollTop: $(`.l-top-skills`).offset().top - headerHeight});
    });

    $(`.c-header__link--production`).on('click', function() {
      $("html, body").animate({scrollTop: $(`.l-top-production`).offset().top - headerHeight});
    });

    $(`.c-header__link--canDo`).on('click', function() {
      $("html, body").animate({scrollTop: $(`.l-top-canDo`).offset().top - headerHeight});
    });

    $(`.c-header__link--contact`).on('click', function() {
      $("html, body").animate({scrollTop: $(`.l-top-contact`).offset().top - headerHeight});
    });

    // なぜか、$(`.l-top-${title[i]}`).offset().topの部分でエラー
    // let title=['intro', 'skills', 'production', 'canDo', 'contact'];
    // for (var i=0; i < title.length; i++) {
    //   $(`.c-header__link--${title[i]}`).on('click', function() {
    //     $("html, body").animate({scrollTop: $(`.l-top-${title[i]}`).offset().top - headerHeight});
    //   });
    // }

    // スクロール：テキスト出現
    $(window).scroll(function() {
      let title=['intro', 'skills', 'production', 'canDo', 'contact'];
      for (var i=0; i < title.length; i++) {
        $(`.p-top-${title[i]}__titleWord`).each(function() {
          let scrollPosi = $(window).scrollTop(),
              windowHeight = $(window).height(),
              textPosi = $(this).offset().top;

          if (scrollPosi > textPosi - windowHeight + 100){
            $(this).css('animation', 'slideInToDown 1.5s forwards'); // 速度：addClass、removeClass > .css()
          }
        });
      }
    });
  });
</script>