<% var title = "shoya_baba_portfolio_TOP"; var description = "トップのshoya_baba_portfolio"; %> <% include
src/ejs/template/_head %>
<% include src/ejs/template/_header %>
<% var img_path='/assets/images/'; %>

<main class="l-top">
  <div class="l-top-siteImage">
    <div class="p-top-siteImage__textArea">
      <h2 class="p-top-siteImage__title">
        <span class="p-top-siteImage__titleWord">PortFolio</span>
      </h2>
      <h2 class="p-top-siteImage__name">
        <% myName=['S', 'h', 'o', 'y', 'a', 'B', 'a', 'b', 'a'] %>
        <% for (var i=0; i < myName.length; i++) { %>
          <span class="p-top-siteImage__nameWord"><%= myName[i] %></span>
        <% } %>
      </h2>
    </div>
  </div>

  <div class="l-top-intro" id="intro">
    <div class="l-top-intro__container">
      <h1 class="p-top-intro__title" id="appear_intro">
        <span class="p-top-intro__titleWord" id="introTitleWord">About</span>
      </h1>
      <div class="p-top-intro__info">
        <img class="p-top-intro__infoImg" src="<%= img_path %>face_icon.jpeg" alt="人物のアイコン">
        <div class="p-top-intro__infoDetail">
          <h3 class="p-top-intro__infoName">馬場　翔矢（Shoya Baba）</h3>

          <% var intro_period=['1997/01/05' ,'2019/3', '2019/4 ~ 2019/6', '2019/6~', '2020/4', '2020/10~2021/3', 'now']; %>
          <% var intro_text=[
            '大阪府で生まれました。現在24歳です', '近畿大学 農学部卒業', '機械部品製造業、従事',
            'ピアノ教室を運営する母のために教室ホームページを作成。Webに興味を持つ。<br>その後、<span class="red">Webエンジニア</span>になる事を目指す。<!--<br><br><span class="red">『好奇心からの行動力』</span>がある私は、この間に<span class="red">ヒッチハイクや、youtube投稿</span>に挑戦。（<span id="toOthers" class="p-top-intro__text__link">詳細は下記</span>に記載）-->',
            '東京でSES事業を行っているベンチャー企業に入社（その後、コールセンター業務）', '自社のLPを主に、JavaScript（jQuery）を用いたLP・コーポレートサイト制作業務に従事', '現在は、<span class="red">Laravel</span>での開発をメインに行なっております。'
          ]; %>

          <% for (var i=0; i < intro_text.length; i++) { %>
            <div class="p-top-intro__infoText">
              <div class="p-top-intro__infoTextBlock">
                <p class="p-top-intro__infoText__peroid"><%= intro_period[i] %></p>
                <p class="p-top-intro__infoText__main"><%- intro_text[i] %></p>
              </div>
            </div>
          <% } %>
        </div>
      </div>
    </div>
  </div>

  <div class="l-top-skills" id="skills">
    <div class="l-top-skills__container">
      <h1 class="p-top-skills__title" id="appear_skills">
        <span class="p-top-skills__titleWord" id="skillsTitleWord">Skills</span>
      </h1>
      <p class="p-top-skills__text">
        習得中の言語も含め、現在扱うことの出来るスキルの一覧です。現在は、Laravelをメインに開発をしています。
      </p>
      <div class="p-top-skills__explain">
        <h3 class="p-top-skills__explain__title">- スキルレベル -</h3>
        <p class="p-top-skills__explain__text">
          1.使ってみた事がある<br>
          2.それを使用し、プロダクトを作った事がある<br>
          3.実務で使用した経験がある（1年未満）<br>
          4.実務で「1年程度」使用経験がある<br>
          5.実務で「3年以上」使用経験がある
        </p>
      </div>
      <ul class="p-top-skills__detail" id="skillsDetail">
        <li class="p-top-skills__detailList">
          <h3 class="p-top-skills__detailList__title">Front end</h3>
            <% var frontSkills=['HTML・CSS', 'JavaScript', 'jQuery', 'Sass', 'Vue.js', 'tailwindcss']; %>
            <% var frontExtendNum=['3', '3', '3', '3', '3', '2']; %>
            <% for (var i=0; i < frontSkills.length; i++) { %>
              <dl class="p-top-skills__detailList__item" id="frontDetailList">
                <dt class="p-top-skills__detailList__itemUnit" id="frontItemUnit<%= i+1 %>">
                  <img class="p-top-skills__detailList__itemImg" src="<%= img_path %>skills/<%= frontSkills[i] %>.png" alt="言語の画像">
                  <p class="p-top-skills__detailList__itemLang"><%= frontSkills[i] %></p>
                </dt>
                <dd class="p-top-skills__detailList__itemGraph">
                  <div class="p-top-skills__detailList__itemGraph__extend--front" id="frontExtendGraph<%= i+1 %>" data-extend="<%= frontExtendNum[i] %>"></div>
                </dd>
              </dl>
            <% } %>
        </li>
        <li class="p-top-skills__detailList">
          <h3 class="p-top-skills__detailList__title">Back end</h3>
          <% var backSkills=['PHP', 'Laravel', 'MySQL']; %>
          <% var backExtendNum=['3', '3', '3']; %>
          <% for (var i=0; i < backSkills.length; i++) { %>
            <dl class="p-top-skills__detailList__item" id="backDetailList">
              <dt class="p-top-skills__detailList__itemUnit" id="backItemUnit<%= i+1 %>">
                <img class="p-top-skills__detailList__itemImg" src="<%= img_path %>skills/<%= backSkills[i] %>.png" alt="言語の画像">
                <p class="p-top-skills__detailList__itemLang"><%= backSkills[i] %></p>
              </dt>
              <dd class="p-top-skills__detailList__itemGraph">
                <div class="p-top-skills__detailList__itemGraph__extend--back" id="backExtendGraph<%= i+1 %>" data-extend="<%= backExtendNum[i] %>"></div>
              </dd>
            </dl>
          <% } %>
        </li>
        <li class="p-top-skills__detailList">
          <h3 class="p-top-skills__detailList__title">tools</h3>
          <% var tools=['webpack', 'npm・yarn', 'Git・GitHub', 'docker', 'AWS（EC2・VPC・RDS）']; %>
          <% var toolsExtendNum=['3', '3', '3', '3', '2']; %>
          <% for (var i=0; i < tools.length; i++) { %>
            <dl class="p-top-skills__detailList__item" id="toolsDetailList">
              <dt class="p-top-skills__detailList__itemUnit" id="toolsItemUnit<%= i+1 %>">
                <img class="p-top-skills__detailList__itemImg" src="<%= img_path %>skills/<%= tools[i] %>.png" alt="言語の画像">
                <p class="p-top-skills__detailList__itemLang"><%= tools[i] %></p>
              </dt>
              <dd class="p-top-skills__detailList__itemGraph">
                <div class="p-top-skills__detailList__itemGraph__extend--tools" id="toolsExtendGraph<%= i+1 %>" data-extend="<%= toolsExtendNum[i] %>"></div>
              </dd>
            </dl>
          <% } %>
        </li>
      </ul>
    </div>
  </div>

  <div class="l-top-production" id="production">
    <div class="l-top-production__container">
      <h1 class="p-top-production__title" id="appear_production">
        <span class="p-top-production__titleWord" id="productionTitleWord">Production</span>
      </h1>
      <p class="p-top-production__text">
        これまでに制作した、Webアプリ・LP・ゲームなどの制作物の一覧です。<br>
        「使用言語・制作期間・苦労した事・こだわった事」など、<span class="p-top-production__underline">プロダクトクリック後</span>の詳細に記載しております。<br>
        ソースコードについては、
      <a class="p-top-production__text__link" href="https://github.com/baby-0105" target="_blank">「GitHub」</a>
        から確認できる様になっております。
      </p>
      <ul class="p-top-production__item">
        <% var production=["vue-communication-app", "numeron", "ukulele_match", "portfolio", "vue-address"]; %>
        <% var production_title=["Vue.jsで作るチャットアプリ", "JSで作るNumerOn", "ウクレレプレイヤーのマッチングアプリ","ポートフォリオサイト", "Vue.jsで作るアドレス帳"]; %>
        <% for (var i=0; i < production.length; i++) { %>
          <li class="p-top-production__itemList">
            <img class="p-top-production__itemList__img"  id="productionItemList<%= i+1 %>" src="<%= img_path %>production/<%= production[i] %>.png" alt="作品の画像">
            <p class="p-top-production__itemList__text"><%= production_title[i] %></p>
          </li>
        <% } %>
      </ul>
    </div>

    <ul class="l-top-production__detail">
      <% var detail_info_text=[
        ["HTML/CSS/JavaScipt", "HTML/CSS/JavaScript", "HTML/CSS/Ruby", "HTML/CSS/JavaScript", "HTML/CSS/JavaScipt"],
        ["Vue.js/npm/firebase/tailwindCSS", "なし", "Bootstrap/Rails/MySQL/Cloud9", "Sass/jQuery/webpack/npm", "Vue.js/npm/firebase"],
        ["1ヶ月（2021/1）", "2週間（2020/10）", "1ヶ月（2020/3〜2020/4）", "1ヶ月（2020/10）", "3日（2020/12）"],
        ["vue-community-app.web.app", "baby-0105.github.io/JS_numeron/html/home.html", "ukulele-match-0105.herokuapp.com/", "portfolio.shoyababa.vercel.app/", "my-address-pj-ac458.web.app"],
        ["vue-communication-app", "JS_numeron", "original_app-ukulele-match-", "shoya_baba_portfolio", "vue-address"]
      ];%>
      <% var detail_expText=[
        "vue-routerを用いたページの切り替えや、firebaseのログイン認証、メッセージ管理機能などを実装しています。特に、ダイレクトメッセージ機能の相手ユーザーと紐付ける部分は理解することに苦労しました。Vue.jsの学習がメインのため、スタイルには、コンポーネントを使ったVue.jsということもあり、tailwindCSSを用いて簡潔にスタイリングしています。今後はCSSファイル軽量化のためにPurgeCSSも導入します。まだまだ、オリジナリティは欠けるため現在も当サイトの改善を行なっていきます。",
        "数字当てゲーム「NumerOn」を作成しました。純粋なJavaScriptとHTML/CSSのみで、ライブラリやフレームワークは使用していません。目的は、jQueryなどのライブラリに頼らない純粋なJavaScriptに慣れるためです。（JavaScriptを使うことが目的でしたのでUIはかなりチープなものになっています）。なぜ、このゲームを作成しようと思ったか？ですが、、、高校の時に毎日友達としていた思い出のゲームだからです（笑）。作ってみたかったものが実現しました。",
        "Ruby on Railsを使用したマッチングサービスです。これを作った理由としては、私自身やtwitterでの意見からウクレレの演奏に寂しさを感じ、仲間を集める事のできるサービスがあればいいと思ったからです。ただでさえプレイヤー数の少ないウクレレですと挫折率も高いと考えたからです。よりウクレレプレイヤーに特化した「ウクレレ経験年数や、居住地域」などの情報を可視化する事でマッチしやすいと考えました。その他機能としましては、新規登録/ログイン/フォロー/投稿/ダイレクトメッセージなどの機能を付けました。どちらか言うとバックエンドよりの技術を主に使用する事に注力したため、フロント部分はBootStrapを使用しています。",
        "私のポートフォリオサイトです。シンプルかつ、一目で分かるようなUIにする事を意識しました。Skillsの棒グラフの作成にはjQueryを使用し、UXにもこだわり工夫いたしました。Sass/jQueryの他、npm/webpackなどのツールも使用しています。",
        "Vue.js + Firebaseで作成しました。vue-routerや、vuexを使用した、ログイン/ログアウト機能や、アドレスの編集/削除の機能を実装いたしました。Vue.jsについては現在も学習中ですので随時こちらのプロダクトの更新を行います。",
        // "個人的に作ったwebレターです。実際には、写真や手紙の内容も添えて作ったのですが、こちらはsampleになります。仕様自体は本物とほぼ同等のものです。シンプルで分かりやすいと言うよりも、CSSやjQueryなどでアニメーションを複数使用する事で凝った仕様にしています。",
      ]; %>
      <% for (var i=0; i < production_title.length; i++) { %>
        <li class="p-top-production__detailList" id="productionDetail<%= i+1 %>">
          <span class="p-top-production__detailList__crossIcon" id="productionCrossIcon<%= i+1 %>"><i class="fas fa-times crossIcon"></i></span>
          <h2 class="p-top-production__detailList__title">ー <%= production_title[i] %> ー</h2>
          <div class="p-top-production__detailList__exp">
            <div class="p-top-production__detailList__expHeading">
              <img class="p-top-production__detailList__expImg" src="<%= img_path %>production/<%= production[i] %>.png" alt="作品の画像">
              <dl class="p-top-production__detailList__info">
                <dt class="p-top-production__detailList__infoTitle">●＜使用言語＞</dt>
                <dd class="p-top-production__detailList__infoText"><%= detail_info_text[0][i] %></dd>
                <dt class="p-top-production__detailList__infoTitle">●＜フレームワーク/ライブラリ/その他ツール＞</dt>
                <dd class="p-top-production__detailList__infoText"><%= detail_info_text[1][i] %></dd>
                <dt class="p-top-production__detailList__infoTitle">●＜作成期間＞</dt>
                <dd class="p-top-production__detailList__infoText"><%= detail_info_text[2][i] %></dd>
              </dl>
            </div>
            <div class="p-top-production__detailList__expSentence">
              <p class="p-top-production__detailList__expText"><%= detail_expText[i] %></p>
              <dl class="p-top-production__detailList__Url">
                <dt class="p-top-production__detailList__urlTitle">●＜プロダクトURL＞</dt>
                <dd class="p-top-production__detailList__urlText">
                  <a class="p-top-production__detailList__urlLink" href="https://<%= detail_info_text[3][i] %>" target='_blank'>https://<%= detail_info_text[3][i] %></a>
                </dd>
                <dt class="p-top-production__detailList__urlTitle">●＜GitHub-ソースコードURL＞</dt>
                <dd class="p-top-production__detailList__urlText">
                  <a class="p-top-production__detailList__urlLink" href="https://github.com/baby-0105/<%= detail_info_text[4][i] %>" target='_blank'>https://github.com/baby-0105/<%= detail_info_text[4][i] %></a>
                </dd>
              </dl>
            </div>
          </div>
        </li>
      <% } %>
    </ul>
  </div>

  <!-- <div class="l-top-others" id="others">
    <div class="l-top-others__container">
      <h1 class="p-top-others__title" id="appear_others">
        <span class="p-top-others__titleWord" id="othersTitleWord">Others</span>
      </h1>
      <p class="p-top-others__text">
        これまで私が挑戦してきた事、どんな人柄か？など説明していきます。
      </p>
      <ul class="l-top-others__detail">
        <li class="p-top-others__detailList">
          <h2 class="p-top-others__detailList__title">ヒッチハイク</h2>
          <div class="p-top-others__detailList__contents">
            <div class="p-top-others__detailList__image">
              <img class="p-top-others__detailList__expImg" src="<%= img_path %>others/hitchhiking-me.png" alt="ヒッチハイクの様子">
              <p class="p-top-others__detailList__expImg__explain">九州1周ヒッチハイクの旅（10日間）</p>
              <img class="p-top-others__detailList__expImg--people" src="<%= img_path %>others/hitchhiking-people.png" alt="ヒッチハイクの様子">
              <p class="p-top-others__detailList__expImg__explain">0~100歳までの方と写真をとっていただいた時の様子（一部の写真）</p>
            </div>
            <dl class="p-top-others__detailList__explain">
              <% var hitch_title=['何をした？', 'なぜ挑戦しようと思った？', 'この経験で得たことは？']; %>
              <% var hitch_desc=[
                '・4度に渡ってヒッチハイク（九州、和歌山、軽井沢、群馬県。全て大阪からのスタート）<br>・それと共に、0~100歳の方々全員と写真を撮ってもらうという企画も並行して行う<br><br>→具体的には、知らない人へ声をかけて同意を頂きます。そして、年齢の書かれたパネルを持って頂き写真を一緒に撮る企画です',
                '・年代の異なる方とコミュニケーションを取ることに慣れるため<br>・苦手な事にも挑戦することで、自分に自信をつけるため',
                '・周りの協力あっての自分がいることを実感<br>・同世代以外の方と話すことに対する苦手意識の克服<br>・自信が無かった自分に、自信がついた<br><br>この企画では私は声をかけても不審がられて、無視されることが度々ありました。重要なのは『いかに不信感を取っ払い交渉するか？』でした。私は、改善を繰り返し<br>・笑顔<br>・自己開示<br>を徹底しました。その結果、「64年齢分、計250名」の方と写真を撮っていただくことが出来ました。<br>私が働く際には、<span class="red">新規事業や経験したことのない事には積極的に参加</span>します。<span class="red">世代関係なく意見交換し、切磋琢磨</span>します。そして、事業を大きくしていくことで貢献していきます。'
              ];%>
              <% for (var i=0; i < hitch_title.length; i++) { %>
                <dt class="p-top-others__detailList__explain__title"><%= hitch_title[i] %></dt>
                <dd class="p-top-others__detailList__explain__desc"><%- hitch_desc[i] %></dd>
              <% } %>
            </dl>
          </div>
        </li>
        <li class="p-top-others__detailList">
          <h2 class="p-top-others__detailList__title">YouTube投稿</h2>
          <div class="p-top-others__detailList__contents">
            <div class="p-top-others__detailList__image">
              <iframe class="p-top-others__detailList__movie" src="https://www.youtube.com/embed/4tjFyjuTxgo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              <p class="p-top-others__detailList__expImg__explain">ウクレレの解説を行なったり、ウクレレをさまざまな場所で弾いてみたりするチャンネルです。</p>
            </div>
            <dl class="p-top-others__detailList__explain">
              <% var youtube_title=['何をした？', 'なぜ挑戦しようと思った？', 'この経験で得たことは？']; %>
              <% var youtube_desc=[
                '・ウクレレの解説を行なったり、ウクレレをさまざまな場所で弾いてみたりする動画をyoutubeへ投稿<br>・2019/6～2020/3（10か月）の期間に<span class="red">約80本</span>（別チャンネルも含め）の動画を投稿した経験',
                '・自分の意見をいう事に慣れるため<br>・アウトプットの練習をするため<br>・プレゼン能力を高めるため<br><br>当時、全て自分が苦手な事だったのですが、これから必要になってくる能力だと考えました。それを鍛えるべく、youtube投稿が最適解だと考え、当時、プログラミングの学習と並行して発信する事を開始しました。',
                '・視聴者目線で「興味のある内容・悩みは何か？」を考察する力<span class="red">（問題解決力）</span><br>・恥を捨て、失敗を恐れずに挑戦する<br>・自分の言葉で説明する事<br><br>同じ内容の動画をあげている方も多々います。その中で自分のオリジナリティを加え、分かり易く説明する事には苦労いたしました。チャンネルの軸や、個性を分析した上で投稿する事を心掛けていました。<br>ウクレレプレイヤーとして、自分自身や多くの人が悩んでいる部分（難解コードの押さえ方など）に着目した内容構成に変更したところ、再生回数を100→3000回まで伸ばすことが出来ました。<br>また、外で1人でウクレレを弾く事も多々あります。初心者ですし、かなり恥ずかしかったです（笑）しかし、弾いているうちに慣れてくるものです。この経験から、<span class="red">失敗を恐れずに主体的に物事に挑戦する</span>ことができます。'
              ];%>
              <% for (var i=0; i < youtube_title.length; i++) { %>
                <dt class="p-top-others__detailList__explain__title"><%= youtube_title[i] %></dt>
                <dd class="p-top-others__detailList__explain__desc"><%- youtube_desc[i] %></dd>
              <% } %>
            </dl>
          </div>
        </li>
        <li class="p-top-others__detailList">
          <h2 class="p-top-others__detailList__title">Qiita投稿</h2>
          <div class="p-top-others__detailList__contents">
            <div class="p-top-others__detailList__image">
              <img class="p-top-others__detailList__expImg" src="<%= img_path %>others/qiita-article1.png" alt="Qiitaの記事">
              <p class="p-top-others__detailList__expImg__explain">投稿した記事の例です。</p>
              <img class="p-top-others__detailList__expImg" src="<%= img_path %>others/qiita-article2.png" alt="Qiitaの記事">
            </div>
            <dl class="p-top-others__detailList__explain">
              <% var qiita_title=['何をした？', 'この経験で得たことは？', 'Qitta URL']; %>
              <% var qiita_desc=[
                '・Qiitaに<span class="red">約50記事</span>の投稿（JavaScript/CSS/Rubyについての記事）<br>・エラーでつまずいた部分、作成したプロダクト、技術説明について記載<br><br>記事を書く際は、自分の疑問に思った点や、悩んだ点について説明することを心掛けました。同じ個所につまずく方の助けになればと考えたからです。その結果、<span class="red">約LGTM100個</span>が付く記事を作成することが出来ました。',
                '・他の記事にはない視点から、問題解決できる記事を考察する力<br>・役に立つ記事を意識したアウトプット<br><br>例えば、Vue.jsの学習手順の記事については他にも書いている方は多数いました。しかし、大まかな学習手順は描くことができましたが、実際にどんなものを作成する中で技術を身につけていくのかが一つ一つ調べる事に苦労しました。そこで私は、実際に自身が作成したものの例を記事に記載していく事で、「例として何を作成し、学習して行くのか？」考える手間が省けるのではないかと考えました。私の考察する力で、<span class="red">実際にクライアントの課題解決に貢献する事</span>が出来ます。',
                '<a class="p-top-others__detailList__explain__desc__link" href="https://qiita.com/baby-0105" target="_blank">https://qiita.com/baby-0105</a>'
              ];%>
              <% for (var i=0; i < qiita_title.length; i++) { %>
                <dt class="p-top-others__detailList__explain__title"><%= qiita_title[i] %></dt>
                <dd class="p-top-others__detailList__explain__desc"><%- qiita_desc[i] %></dd>
              <% } %>
            </dl>
          </div>
        </li>
      </ul>
    </div>
  </div> -->

  <div class="l-top-canDo"  id="canDo">
    <div class="l-top-canDo__container">
      <h1 class="p-top-canDo__title" id="appear_canDo">
        <span class="p-top-canDo__titleWord" id="canDoTitleWord">Can do.</span>
      </h1>
      <p class="p-top-canDo__text">現在、お受けする事のできる案件・仕事内容についてご紹介させていただきます。</p>
      <ul class="p-top-canDo__works">
        <% var works=['1', '2', '3', '4']; %>
        <% var work_title=['web開発', 'Web制作', 'レスポンシブ対応', 'WordPress案件']; %>
        <% var work_text=[
          'Webアプリケーションの開発を主に行います。フロントエンドはJavaScript、バックエンドはPHP（Laravel）での開発経験がございます。',
          'LP・コーポレートサイト・webアプリケーションなどのフロントエンド部分作成のお仕事をお受けします。JavaScriptを使用した動的なサイトの作成も可能です。',
          'スマホ・タブレット・パソコン、などマルチデバイスにも対応いたします。どのデバイスであっても見やすい表示へと切り替えます。',
          'WordPressのテーマを使用したWebサイト・Webページの作成を行います。'
        ]; %>
        <% for (var i=0; i < works.length; i++) { %>
          <li class="p-top-canDo__work">
            <img class="p-top-canDo__workIcon" src="<%= img_path %>cando/cando_img<%= works[i] %>.png" alt="案件イメージアイコン">
            <h3 class="p-top-canDo__workTitle"><%= work_title[i] %></h3>
            <p class="p-top-canDo__workText"><%= work_text[i] %></p>
          </li>
        <% } %>
      </ul>
    </div>
  </div>

  <!--
    <div class="l-top-contact"  id="contact">
      <div class="l-top-contact__container">
        <h1 class="p-top-contact__title" id="appear_contact">
          <span class="p-top-contact__titleWord" id="contactTitleWord">Contact</span>
        </h1>
        <p class="p-top-contact__text">お問い合わせはこちらから！<br>（もしくは、ページ下部の'Twitterアイコン'からDMお願いします。）</p>
        <form class="p-top-contact__block" id="contactForm" action="https://api.staticforms.xyz/submit" method="post">
          <input class="p-top-contact__form" name="name" type="text" placeholder="お名前">
          <input class="p-top-contact__form" name="email" type="text" placeholder="メールアドレス">
          <textarea class="p-top-contact__inquiry" name="message" placeholder="お問い合わせ内容を記載ください。"></textarea>
          <input type="hidden" name="accessKey" value="ccb0ccaf-3ab2-47f6-b46b-0916e6b582a7">
          <input type="hidden" name="subject" value="※※「ポートフォリオサイト」より、メール※※">
          <input type="hidden" name="replyTo" value="@">
          <input type="hidden" name="redirectTo" value="https://portfolio.shoyababa.vercel.app/about">
          <input class="p-top-contact__btn" type="submit" value="送信する">
        </form>
      </div>
    </div>
  -->
</main>

<% include src/ejs/template/_footer %>